      <!-- About Section - Home Page -->
      <section id="about" class="about">
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>About Us</h2>
        </div>
        <!-- End Section Title -->

        <div class="container">
          <h5>
            Gloucestershire Puja and Cultural Association will organise the following Hindu Religious Festivals throughout the year. Following are planned: 1. Sarbojonin Durgotsav 2. Kojagori MahaLakshmi Puja 3. Sri Saraswati Puja 4. Rabindra Nazrul Jayanti and any other religious and cultural activities as agreed by the trustees.
          </h5>
          <h4>
          Charitable objects
        </h4>
        <p>
              1. TO ADVANCE THE HINDU RELIGION IN BRISTOL FOR THE BENEFIT OF THE PUBLIC THROUGH THE HOLDING OF PRAYER MEETINGS, LECTURES, PUBLIC CELEBRATION OF RELIGIOUS FESTIVALS PRODUCING AND/OR DISTRIBUTING LITERATURE ON HINDUISM TO ENLIGHTEN OTHERS ABOUT THE HINDU RELIGION. 2. TO ADVANCE THE EDUCATION OF THE PUBLIC IN THE ARTS, CULTURE AND HERITAGE OF THE BENGALI AND OTHER SOUTH ASIAN COMMUNITIES IN BRISTOL, PARTICULARLY BUT NOT EXCLUSIVELY, BY THE PROVISION OF TRADITIONAL DANCE, MUSIC AND ART. 3. FOR THE PUBLIC BENEFIT, THE RELIEF AND ASSISTANCE OF PEOPLE IN NEED IN THE UK AND OVERSEAS WHO ARE THE VICTIMS OF NATURAL OR OTHER DISASTER, THROUGH THE PROVISION OF GRANTS.
        </p>
        </div>
      </section>
      <!-- End About Section -->
