      <!-- Team Section - Home Page -->
      <section id="team" class="team">
        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Team</h2>
        </div>
        <!-- End Section Title -->
        <div class="container">

          <div class="row gy-5">
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Dibakar Gayen</h4>
                <span>Chair</span>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Dr Madhusree Ghosh</h4>
                <span>Trustee</span>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Ayan Ghosh</h4>
                <span>Trustee</span>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Bholanath Saha</h4>
                <span>Trustee</span>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="./assets/img/team/team-1.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info text-center">
                <h4>Dr Kalyan Hazra</h4>
                <span>Trustee</span>
              </div>
            </div><!-- End Team Member -->
  
          </div>
  
        </div>
      </section>
      <!-- End Team Section -->
