      <!-- home Section - Home Page -->
      <section id="home" class="home"> 
        <img src="./assets/img/home-bg.jpg" alt="" data-aos="fade-in" class="auto">

        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Welcome to GPCA</h2>
              <p data-aos="fade-up" data-aos-delay="200">
                Bringing all Bengali families to celebrate and enjoy our Bengali events together.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End home Section -->