      <!-- home Section - Home Page -->
      <section id="home" class="home"> 
        
        <img src="./assets/img/home-bg.jpg" alt="" data-aos="fade-in" class="auto">

        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Welcome to GPCA</h2>
              <p data-aos="fade-up" data-aos-delay="200">
                Bringing all Bengali families to celebrate and enjoy our Bengali events together.
              </p>
              <div data-aos="fade-up" data-aos-delay="300" class="text-center">
                <p><b>Upcoming Event</b></p>
                <p>
                  Rabindra Nazrul Jayanti(18th May 2024, Saturday 5PM-10PM)
                </p>              
                <p>Venue : Hartpury Village Hall</p>
                <p>Over Old Road, Hartpury, Gloucestershire</p>
                <p>GL19 3BJ</p>
            </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End home Section -->