      <!-- Events Section - Home Page -->
        <!--  Section Title -->
        <section id="events" class="events">
            <div class="container section-title" data-aos="fade-up">
              <h2>Events</h2>
              <div  id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <img  src="./assets/img/home-bg.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="./assets/img/rabindra_nazrul1.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="./assets/img/swarasati-puja.jpg" data-aos="fade-in" class="d-block w-100" alt="..." />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
            <!-- End Section Title -->
    
            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Rabindra-Nazrul Shandhya</h4>
                      <p class="description">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Durga Puja</h4>
                      <p class="description">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Swarasti Puja</h4>
                      <p class="description">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Pithe Utsav</h4>
                      <p class="description">
                        Voluptatum deleniti atque corrupti quos dolores et quas
                        molestias excepturi sint occaecati cupiditate non provident
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
              </div>
            </div>
          </section>
          <!-- End Events Section -->
