      <!-- Events Section - Home Page -->
        <!--  Section Title -->
        <section id="events" class="events">
            <div class="container section-title" data-aos="fade-up">
              <h2>Events</h2>
              <div  id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" >
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="4000">
                  <img  src="./assets/img/home-bg.jpg" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="./assets/img/rabindra_nazrul1.png" class="d-block w-100" alt="..." />
                </div>
                <div class="carousel-item" data-bs-interval="4000">
                  <img src="./assets/img/swarasati-puja.png" data-aos="fade-in" class="d-block w-100" alt="..." />
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next" >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            </div>
            <!-- End Section Title -->
    
            <div class="container">
              <div class="row gy-4">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Kojagori MahaLakshmi Puja</h4>
                      <p class="description">
                        Lakshmi, the goddess of wealth and prosperity, and Vishnu's wife, visits her devotees, 
                        and bestows good fortune and her blessings upon them. To welcome the goddess, devotees 
                        clean their houses, decorate them with finery and lights, and prepare sweet treats and 
                        delicacies as offerings.[1] Devotees believe that the happier Lakshmi is during her 
                        visit, the more she blesses the family with health and wealth.In Assam, Odisha, and Bengal, 
                        Lokkhi Puja or Lakshmi Puja (লক্ষ্মী পূজা) is performed on Ashvin Purnima day on the month of 
                        Ashvin, the full moon day following Vijaya Dashami and Durga Puja. This puja is also known 
                        as Kojagori Lokkhi Pujo. Women worship the goddess Lakshmi in the evening, after cleaning 
                        their house and decorating the floor of their houses with alpona, or rangoli. It is 
                        celebrated in the evening with all family members participating in decorating and 
                        cleaning home as part of the puja. (Source : Wiki)
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Sarbojonin Durgotsav</h4>
                      <p class="description">Durga Puja (ISO: Durgā Pūjā), also known as Durgotsava or Sharodotsav, 
                        is an annual festival originating in the Indian subcontinent which reveres and pays homage 
                        to the Hindu goddess Durga, and is also celebrated because of Durga's victory over 
                        Mahishasura.It is particularly celebrated in Bengal, Assam, and other eastern Indian 
                        states. The festival is observed in the Indian calendar in the month of Ashvin, which 
                        corresponds to September–October in the Gregorian calendar. Durga Puja is a ten-day 
                        festival, of which the last five are of the most significance.The puja is performed 
                        in homes and public, the latter featuring a temporary stage and structural decorations 
                        (known as pandals). The festival is also marked by scripture recitations, performance 
                        arts, revelry, gift-giving, family visits, feasting, and public processions called a 
                        melā. Durga Puja is an important festival in the Shaktism tradition of Hinduism. 
                        Durga Puja in Kolkata has been inscribed on the intangible cultural heritage list 
                        of UNESCO in December 2021.(Source : Wiki)
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Rabindra Nazrul Jayanti</h4>
                      <p class="description">
                        Rabindranath Tagore  7 May 1861 – 7 August 1941) was an Indian poet, writer, playwright, composer, 
                        philosopher, social reformer, and painter during the age of Bengal Renaissance. He reshaped Bengali 
                        literature and music as well as Indian art with Contextual Modernism in the late 19th and early 
                        20th centuries. Author of the "profoundly sensitive, fresh and beautiful" poetry of Gitanjali, 
                        he became in 1913 the first non-European and the first lyricist to win the Nobel Prize in 
                        Literature. Tagore's poetic songs were viewed as spiritual and mercurial; where his elegant 
                        prose and magical poetry were widely popular in the Indian subcontinent. He was a fellow of 
                        the Royal Asiatic Society. Referred to as "the Bard of Bengal", Tagore was known by sobriquets: 
                        Gurudeb, Kobiguru, and Biswokobi. (Source : Wiki)
                      </p>
                      <p class="description">
                        Kazi Nazrul Islam  24 May 1899 – 29 August 1976), also known as the Rebel Poet, was a popular 
                        Bengali poet, writer and lyrist born in Churulia district of Bengal Presidency (modern day in 
                        West Bengal, India) who moved to Bangladesh and took Bangladeshi citizenship after the independence 
                        of Bangladesh He was a poet, writer, musician, and is the national poet of Bangladesh. Nazrul 
                        produced a large body of poetry, music, messages, novels, and stories with themes that included 
                        equality, justice, anti-imperialism, humanity, rebellion against oppression and religious devotion.
                        Nazrul Islam's activism for political and social justice as well as writing a poem titled as 
                        "Bidrohī", meaning "the rebel" in Bengali, earned him the title of "Bidrohī Kôbi" (Rebel Poet). 
                        His compositions form the avant-garde music genre of Nazrul Gīti (Music of Nazrul). (Source : Wiki)
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
    
                
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item d-flex">
                    <div class="icon flex-shrink-0">
                    </div>
                    <div>
                      <h4 class="title">Sri Saraswati Puja</h4>
                      <p class="description">
                        Saraswati (Sanskrit: सरस्वती, IAST: Sarasvatī), also spelled as Sarasvati, is the Hindu goddess of 
                        knowledge, music, flowing water, abundance and wealth, art, speech, wisdom, and learning.She 
                        is one of the Tridevi, along with the goddesses Lakshmi and Parvati.She is a pan-Indian deity, 
                        also revered in Jainism and Buddhism.The earliest known mention of Saraswati as a goddess is in 
                        the Rigveda.She has remained significant as a goddess from the Vedic period through the modern 
                        period.She is generally depicted with four arms (which hold four symbols: a book, a rosary, a 
                        water pot, and a musical instrument called the veena). The festival of Vasant Panchami 
                        (the fifth day of spring, and also known as Saraswati Puja and Saraswati Jayanti in many 
                        regions of India) is celebrated in her honour.Traditionally, the day is marked by helping 
                        young children learn how to write the letters of the alphabet.(Source : Wiki)
                      </p>
                    </div>
                  </div>
                </div>
                <!-- End Service Item -->
              </div>
            </div>
          </section>
          <!-- End Events Section -->
